@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-about-us {
    position: relative;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    display: flex;
    margin-top: 20px;

    .c-about-us__picture {
        width: 50%;
        position: relative;
        @media(max-width:430px) {
            display: none;
        }
        .c-about-us__picture--item {
            height: 700px;
            border-radius: 10px 0px 0px 10px;
            width: 100%;
            @media(max-width:992px) {
                height: 450px;
            }
            @media(max-width:530px) {
                height: 350px;
            }
        }

        .playbutton {
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 4px 13px 0px 13px;
            text-transform: uppercase;
            background-color: #ee625d;
            font-size: 24px;
            color: $white;
            font-weight: 600;
            border:  2px solid $white;
            border-radius: 5px;
            @media(max-width:530px) {
                padding: 2px 10px 0px 10px;
                font-size: 20px;
            }

            .glyphicon {
                top: 0;
                font-size: 20px;
                margin-right: 10px;
                @media(max-width:530px) {
                    font-size: 17px;
                }
            }
        }
    }

    .c-about-us__desc {
        width: 50%;
        padding: 30px 40px;
        @media(max-width:992px) {
            padding: 10px 10px;
        }
        @media(max-width:430px) {
            width: 100%;
        }
        
        .c-about-us__desc--title {
            font-size: 32px;
            color: $main-font-color;
            font-weight: 600;
            margin-bottom: 35px;
            @media(max-width:992px) {
                font-size: 20px;
            }
            @media(max-width:600px) {
                margin-bottom: 15px;
            }
        }

        .c-about-us__desc--text {
            font-size: 16px;
            color: $black;
            margin-bottom: 20px;
            @media(max-width:992px) {
                font-size: 12px;
            }
            @media(max-width:600px) {
                font-size: 9px;
                margin-bottom: 5px;
            }
        }
    }
}