@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-all-games {
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 50px 60px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    @media(max-width:1200px) {
        padding: 50px 0px;
    }

    .c-all-games__link {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            @media(max-width:1200px) {
                flex-wrap: wrap;
                min-height: 110px;
            }

            li {
                a {
                    padding: 9px 19px;
                    border-radius: 20px;
                    border: 1px solid #f3e2ae;
                    font-size: 18px;
                    text-decoration: none;
                    color: $black;
                    transition-duration: 0.25s;
                    margin: 0px 5px;
                    &:hover {
                        color: $white;
                        background-color: #ee625d;
                        border-color: #ee625d;
                    }
                    @media(max-width:510px) {
                        padding: 4px 12px;
                        font-size: 14px;
                    }
                }
            }

            .active {
                a {
                    color: $white;
                    background-color: #ee625d;
                    border-color: #ee625d;
                }
            }
        }
    }

    .c-all-games__gameBox {
        padding: 38px 27px;
        display: flex;
        flex-wrap: wrap;

        a {
            color: $black;
        }

        .c-all-games__gameBox--item {
            margin: 0 15px 30px 15px;
            @media(max-width:720px) {
                width: 50%;
                text-align: center;
                margin: 0px 0px 30px 0px;
            }
            @media(max-width:480px) {
                width: 100%;
            }

            a {
                .c-all-games__gameBox--logo {
                    img {
                        width: 180px;
                        border-radius: 11px;
                    }
                }

                .c-all-games__gameBox--text {
                    text-align: center;
                    margin-top: 10px;
                    color: $black;
                }
            }
        }
    }

    .c-pagination {
        text-align: center !important;
        padding-top: 40px;
        margin: 0px 15px 0px 15px;
        .pagination {
            width: 100%;
            li:first-child,li:last-child {

                a {
                    color:black;
                    border: solid 1px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                }
            }
            
            li {
                a {
                    border: 0;
                    color:black;
                    float:none;
                    font-size: 16px;
                    &:hover,&:focus {
                        background-color:transparent;
                    }
                    @media(max-width:450px) {
                        font-size: 12px;
                        padding: 6px 3px;
                    }

                    span {
                        color: #a8aab7;
                        font-size: 13px;
                        margin: 0 7px;
                        @media(max-width:450px) {
                            font-size: 10px;
                        }
                        
                    }
                }
            }

            .active {
                a {
                    background-color:#ee625d;
                    color:white;
                    border-radius:50%;
                    padding:5px 9px;
                    @media(max-width:450px) {
                        padding: 3px 7px;
                    }
                    &:hover,&:focus {
                        background-color:#ee625d;
                    }
                }
            }
        }
    }
}