@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-contact {
    position: relative;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    margin-top: 20px;
    padding: 53px 53px 117px 35px;
    
    .flexbox {
        @media(max-width:992px) {
            flex-direction: column;
        }
    }

    .title-big {
        font-size:32px;
        margin-bottom: 52px;
        display: inline-block;
        color: $main-font-color;
        @media(max-width:992px) {
            margin-bottom: 15px;
        }
    }

    .contact-info {
        width: 42%;
        @media(max-width:992px) {
            width: 100%;
        }

        .text-strong {
            padding-right: 80px;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0px;
        }

        .text-light {
            color: #94979b;
            font-size: 18px;
            padding-bottom: 20px;
        }

        .flexbox {
            @media (max-width:991px) {
                display: block;
            }
        }
    }

    .write-us {
        width: 58%;
        padding: 0px 0px 0px 60px;
        border-left: 1px solid #d8d8d8;
        @media(max-width:992px) {
            width: 100%;
            border: none;
            padding: 0;
        }

        form {
            text-align: right;

            input {
                border: 1px solid #d8d8d8;
                &::placeholder {
                    color: #d8d8d8;
                }
                &:focus {
                    outline: none;
                }
            }

            textarea {
                width: 100%;
                height: 130px;
                border: 1px solid #d8d8d8;
                &::placeholder {
                    color: #d8d8d8;
                }
                &:focus {
                    outline: none;
                }
            }

            .submitButton {
                border:none;
                margin-top: 5px;
                padding: 12px 62px; 
                background-color: #ee625d;
                border: none;
                border-radius: 30px;
                font-size: 18px;
                color: $white;
                &:focus {
                    outline: none;
                }
                @media(max-width:520px) {
                    padding: 8px 35px;
                }
            }

            .input-name {
                width: 50%;
                padding: 16px 26px;
                border-radius: 20px 0px 0px 20px;
                @media(max-width:520px) {
                    width: 100%;
                    border-radius: 20px;
                    margin-bottom: 10px;
                }
            }

            .input-email {
                width: 49%;
                padding: 16px 26px;
                border-radius: 0px 20px 20px 0px;
                @media(max-width:520px) {
                    width: 100%;
                    border-radius: 20px;
                }
            }

            .input-textarea {
                margin-top: 10px;
                border-radius: 20px;
                padding: 20px 26px;
            }
        }
    }
}