@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-error {
    position: relative;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    margin-top: 20px;

    .c-error__text {
        text-align: center;
        padding-top: 60px;

        .c-error__text--small {
            font-size: 24px;
            color: $black;
            @media(max-width:510px) {
                font-size: 14px;
            }
        }

        .c-error__text--strong {
            font-size: 32px;
            color: $main-font-color;
            font-weight: 600;
            @media(max-width:510px) {
                font-size: 20px;
            }
        }
    }

    .c-error__games {
        margin-top: 70px;
        @media(max-width:510px) {
            margin-top: 20px;
        }

        p {
            font-size: 24px;
            color: $black;
            text-align: center;
            @media(max-width:510px) {
                font-size: 14px;
            }

            .strongText {
                font-size: 28px;
                color: $main-font-color;
                text-transform: uppercase;
                @media(max-width:510px) {
                    font-size: 18px;
                }
            }
        }

        .c-error__games--nav {
            margin: 30px 0px;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width:1200px) {
                    flex-wrap: wrap;
                    height: 110px; 
                }

                li {
                    a {
                        padding: 9px 19px;
                        border-radius: 20px;
                        border: 1px solid #f3e2ae;
                        font-size: 18px;
                        text-decoration: none;
                        color: $black;
                        transition-duration: 0.25s;
                        margin: 0px 5px;
                        &:hover {
                            color: $white;
                            background-color: #ee625d;
                            border-color: #ee625d;
                        }
                        @media(max-width:510px) {
                            padding: 4px 12px;
                            font-size: 14px;
                        }
                    }
                    
                    .active {
                        color: $white;
                        background-color: #ee625d;
                        border-color: #ee625d;
                    }
                }
            }
        }

        .c-error__gameBox {
            padding: 5px 87px 20px 87px;
            display: flex;
            flex-wrap: wrap;
            @media(max-width:1200px) {
                padding: 5px 0px 20px 0px;
                justify-content: center;
            }
    
            a {
                color: $black;
            }

            .c-error__gameBox--item {
                margin: 0 15px 30px 15px;

                a {
                    .c-error__gameBox--logo {
                        img {
                            width: 180px;
                            border-radius: 11px;
                        }
                    }
    
                    .c-error__gameBox--text {
                        text-align: center;
                        margin-top: 10px;
                        color: $black;
                    }
                }
            }
        }
    }
}