// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

body {
    width: 100%;
    font-family: 'Helvetica-Normal';
    font-style: normal;
    font-weight: normal;
    background-image: url("/images/body-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}

// .container {
//     @media(max-width:768px) {
//         padding: 0 10px !important;
//     }
// }

.c-header {
    padding-top: 40px;
    padding-bottom: 30px;
    .c-header__logo {
        padding-left: 15px;
        width: 38%;

        .c-header__logo--item {
            width: 295px;
            height: 64px;
            @media(max-width:992px) {
                width: 160px;
                height: 40px;
            }
            @media(max-width:450px) {
                width: 120px;
                height: 30px;
            }
        }
    }

    .c-header__search {
        padding-right: 15px;
        width: 62%;
        @media(max-width:992px) {
            display: flex;
            justify-content: flex-end;
        }
        
        .c-header__search--item {
            width: 100%;
            height: 64px;
            position: relative;
            @media(max-width:992px) {
                height: 40px;
                width: 72%;
            }
            @media(max-width:450px) {
                width: 90%;
            }

            input {
                width: 100%;
                padding: 20px 24px;
                border-radius: 40px;
                border: 1px solid $border-color; 
                font-size: 16px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #9b9b9b;
                }
                @media(max-width:992px) {
                    padding: 10px 20px;
                    font-size: 13px;
                }
                @media(max-width:450px) {
                    padding: 5px 15px;
                    font-size: 12px;
                }
            }

            a {
                position: absolute;
                top: 20px;
                right: 26px;
                @media(max-width:992px) {
                    top: 11px;
                    right: 19px;
                }
                @media(max-width:450px) {
                    top: 5px;
                    right: 14px;
                }

                img {
                    @media(max-width:450px) {
                        width:12px;
                    }
                }
            }
        }
    }    
}

.c-footer {
    background-color: $footer-bg;
    min-height: 90px;
    padding-top: 25px;
    margin-top: 200px;
    @media(max-width:992px) {
       margin-top: 100px;
    }
    
    .c-footer-container {
        width: 1175px;
        margin: 0 auto;
        align-items: baseline;
        @media(max-width:1200px) {
            width: 970px;
        }
        @media(max-width:992px) {
            flex-direction: column;
            width: 530px;
        }

        @media(max-width:540px) {
            width: 280px;
        }

        .c-footer__logo {
            width: 19%;
            @media(max-width:1200px) {
                width: 22%;
            }
            @media(max-width:992px) {
                width: 100%;
                text-align: center;
            }

            .c-footer__logo--item {
                width: 203px;
                height: 44px;
            }
        }

        .c-footer__nav {
            width: 58%;
            @media(max-width:1200px) {
                width: 48%;
            }
            @media(max-width:992px) {
                width: 100%;
                text-align: center;
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 44px;
                @media(max-width:992px) {
                    flex-direction: column;
                }

                .c-footer__nav--item {
                    margin: 0 15px;
                    @media(max-width:992px) {
                        margin: 15px 15px;
                    }
                    
                    a {
                        color: $white;
                        padding: 5px 0px;
                        border-bottom: 1px solid $white;
                        font-size: 16px;
                        
                    }
                }
            }
        }

        .c-footer__text {
            width: 23%;
            height: 44px;
            text-align: right;
            @media(max-width:1200px) {
                width: 30%;
            }
            @media(max-width:992px) {
                width: 100%;
                text-align: center;
            }

            .c-footer__text--item {
                color: $white;
                font-size: 16px;
            }
        }
    }
}

.c-menubar {
    position: absolute;
    top: 0;
    left: -80px;
    @media(max-width:1200px) {
        display: none;
    }
    
    ul {
        display: flex;
        flex-direction: column;

        li {
            a {
                padding: 15px 15px;
                border-radius: 5px;
                background: $white;
                display: inline-block;
                margin-bottom: 5px;
                box-shadow: $box-shadow;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}