@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.c-homeContent {
    .c-homeContent__filter {
        display: flex;
        margin-bottom: 70px;
        @media(max-width:1200px) {
            justify-content: space-evenly;
        }
        @media(max-width:540px) {
            flex-direction: column;
        }
        .c-homeContent__filter--menu {
            width: 21%;
            @media(max-width:1200px) {
                width: 10%;
            }
            @media(max-width:540px) {
                width: 100%;
            }

            ul {
                @media(max-width:540px) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                li {
                    width: 200px;
                    height: 70px;
                    background-color: $white;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    @media(max-width:1200px) {
                        width: 70px;
                    }
                    @media(max-width:540px) {
                        margin-right: 5px;
                    }
    
                    a{
                        display: flex;
                        width: 100%;
                        height: 70px;
                        align-items: center;
                        color: $black;
                        font-size: 16px;
    
                        img {
                            height: 40px;
                            width: 40px;
                            margin: 0px 17px 0 15px;
                        }
    
                        span {
                            display: inline-block;
                            border-left: 1px solid $border-color;
                            padding: 14px 15px;
                            @media(max-width:1200px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    
        .c-homeContent__filter--slider {
            width: 79%;
            @media(max-width:1200px) {
                width: 65%;
            }
            @media(max-width:540px) {
                width: 100%;
            }

            .owl-carousel {
                .carousel-item {
                    margin-right: 10px;
                    position: relative;
    
                    img {
                        border-radius: 10px;
                        height: 520px;
                    }
    
                    .star-rating {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                    }
    
                    .playbutton {
                        position: absolute;
                        bottom:20px;
                        left: 20px;
                        padding: 4px 13px 0px 13px;
                        text-transform: uppercase;
                        background-color: #ee625d;
                        font-size: 24px;
                        color: $white;
                        font-weight: 600;
                        border:  2px solid $white;
                        border-radius: 5px;
                        .glyphicon {
                            top: 0;
                            font-size: 20px;
                            margin-right: 10px;
                        }
                    }
                }
    
                .owl-nav {
                    position: absolute;
                    bottom: 0;
                    right: -70px;
                    display: flex;
                    flex-direction: column;
                    @media(max-width:1200px) {
                        display: none;
                    }
    
                    .owl-prev, .owl-next {
                        width: 70px;
                        height: 70px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        &:focus {
                            outline: none;
                        }
                        span {
                            display: none !important;
                        }
                    }
    
                    .owl-prev {
                        background-image: url("../images/toright.png");
                    }
    
                    .owl-next {
                        background-image: url("../images/toleft.png");
                        margin-top: 4px;
                    }
                }
            }
        }
    }

    .c-homeContent__popularGames {
        margin-bottom: 35px;
        a {
            color: $black;
        }

        .c-homeContent__popularGames--title {
            text-align: center;
            padding-bottom: 30px;
            font-size: 24px;
            color: #5c656d;

            p {
                font-size: 24px;
                color: #5c656d;
                font-weight: 600;
            }
        }

        .c-homeContent__popularGames--logo {
            img {
                width: 180px;
                height: 180px;
                border-radius: 11px;
            }
        }

        .c-homeContent__popularGames--text {
            padding-top: 10px; 
            margin-bottom: 30px;
            font-family: "Ubuntu";
            font-size: 16px;
            text-align: center;
            color: $black;
        }
    }

    .c-homeContent__latestGames {
        a {
            color: $black;
        }

        .c-homeContent__latestGames--title {
            text-align: center;
            padding-bottom: 30px;
            font-size: 24px;
            color: #5c656d;

            p {
                font-size: 24px;
                color: #5c656d;
                font-weight: 600;
            }
        }

        .c-homeContent__latestGames--links {
            margin: 7px 0px 38px 0px;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                @media(max-width:992px) {
                    height: 120px;
                    flex-wrap: wrap;
                }
                @media(max-width:540px) {
                    height: 160px;
                }

                li {
                    a {
                        padding: 9px 19px;
                        border-radius: 5px;
                        border: 1px solid #cfd8e0;
                        font-size: 18px;
                        text-decoration: none;
                        color:black;
                        transition-duration: 0.25s;
                        margin: 0px 5px;
                        &:hover {
                            color: $white;
                            background-color: #ea2f4a;
                            border-color: #ea2f4a;
                        }
                        @media(max-width:400px) {
                            padding: 4px 12px;
                            font-size: 14px;
                        }
                    }
                }
                .active {
                    a {
                        color: $white;
                        background-color: #ea2f4a;
                        border-color: #ea2f4a;
                    }
                }
            }
        }

        .c-homeContent__latestGames--logo {
            img {
                width: 180px;
                height: 180px;
                border-radius: 11px;
            }
        }

        .c-homeContent__latestGames--text {
            padding-top: 10px; 
            margin-bottom: 30px;
            font-family: "Ubuntu";
            font-size: 16px;
            text-align: center;
            color: $black;
        }

        .c-homeContent__latestGames--button {
            .button-link {
                width: 100%;
                padding: 22px 0px;
                background-color: $button-color;
                border-radius: 5px;
                display: inline-block;
                font-family: "Ubuntu";
                font-size: 20px;
                color: $white;
                text-align: center;
            }
        }
    }
}