@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";


.c-innerPage {
    position: relative;
    .c-innerPage__slider {
        background-color: $white;
        border-radius: 10px;
        box-shadow: $box-shadow;
        .owl-carousel {
            .carousel-item {
                display: flex;
                .carousel-item__picture {
                    width: 52%;
                    img {
                        border-radius: 10px 0px 0px 10px;
                        height: 520px;
                        @media(max-width:680px) {
                            height: 390px;
                        }
                        @media(max-width:560px) {
                            height: 300px;
                        }
                        @media(max-width:470px) {
                            height: 250px;
                        }
                        
                    }
                }

                .carousel-item__desc {
                    width: 48%;
                    padding: 30px 30px;
                    @media(max-width:530px) {
                        padding: 5px 10px;
                    }
                    .carousel-item__desc--title {
                        font-size: 32px;
                        color: $main-font-color;
                        font-weight: 600;
                        margin-bottom: 35px;
                        @media(max-width:680px) {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }
                    }

                    .carousel-item__desc--text {
                        font-size: 16px;
                        color: $black;
                        @media(max-width:680px) {
                            font-size: 12px;
                        }
                        @media(max-width:470px) {
                            font-size: 9px;
                        }
                    }
                }
            }

            .owl-nav {
                position: absolute;
                bottom: 20px;
                left: 417px;
                display: flex;
                @media(max-width:550px) {
                    display: none;
                }

                .owl-prev, .owl-next {
                    width: 40px;
                    height: 40px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 3px;
                    border: 1px solid white;
                    &:focus {
                        outline: none;
                    }
                    span {
                        display: none !important;
                    }
                }

                .owl-prev {
                    background-image: url("../images/innerleft.png");
                }

                .owl-next {
                    background-image: url("../images/innerright.png");
                    margin-left: 10px;
                }
            }
        }
    }

    .c-innerPage__playGame {
        margin-top: 10px;
        padding: 30px 20px 20px 20px;
        background-color: $white;
        box-shadow: $box-shadow;
        border-radius: 10px;

        .c-innerPage__playGame--title {
            text-align: center;

            p {
                margin-bottom: 32px;
                font-size: 32px;
                color: $main-font-color;
                font-weight: 600;
                @media(max-width:550px) {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
            }
        }

        .c-innerPage__playGame--image {
            position: relative;
            img {
                height: 400px;
                border-radius: 11px;
                width: 100%;
                @media(max-width:810px) {
                    height: 300px;
                }
                @media(max-width:470px) {
                    height: 230px;
                }
            }

            a {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);

                img {
                    width: 180px;
                    height: 60px;
                    border: 2px solid $white;
                    background: $white;
                    border-radius: 5px;
                }
            }
        }
    }

    .c-innerPage__social {
        margin-top: 10px;
        padding: 30px 20px 60px 20px;
        background-color: $white;
        box-shadow: $box-shadow;
        border-radius: 10px;
    }
}