@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";


.c-terms {
    position: relative;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    margin-top: 20px;
    padding: 40px 50px;

    .c-terms__header {
        margin-bottom: 20px;
        h3 {
            font-size: 32px;
            color: $main-font-color;
            text-align: center;
            font-weight: 600;
            @media(max-width:768px) {
                font-size: 20px;
            }
        }
    }

    .c-terms__title {
        font-size: 24px;
        color: $black;
        margin-bottom: 20px;
        @media(max-width:768px) {
            font-size: 16px;
        }
    }

    .c-terms__article {
        display: flex;
        margin-bottom: 30px;
        @media(max-width:768px) {
            display: block;
        }

        .c-terms__article--item {
            width: 50%;
            padding-right: 60px;
            font-size: 16px;
            color: #94979b;
            @media(max-width:768px) {
                font-size: 12px;
                width: 100%;
                padding-right: 0px;
            }
        }
    }
}