// [[ Bootstrap defaults.
// $grid-gutter-width: 0;
$container-large-desktop: 1045px;
$grid-columns: 15;
$icon-font-path: '../fonts/';
// ]] Bootstrap defaults

// $body-bg: #70d1e1;
$footer-bg: #39333b;
$button-color: #ee625d;
$white: #fff;
$black:#000000;
$border-color: #cfd8e0;
$main-font-color: #ee625d;
$main-text-color: #94979b;
$box-shadow: 0 0 10px 0 #d1d7dd;